# Data Preparation

In [1]:
from imports import *

In [2]:
df = pd.read_csv('data_science.csv')

In [4]:
df.drop(columns = 'link', inplace = True)

In [5]:
df

,company,location,mode,type,level,role,requirements,edu_bachelor,edu_master,edu_phd,edu_other,skills
0,PwC,"Austin, TX",Remote,Full time,Entry,Data Science & Machine Learning SA w/ Conversational AI,Bachelor Degree\nMinimum Years Of Experience: 4 year(s)\nDemonstrates thorough abiliti...,22,44,11,23,Python (Programming Language)\nMachine Learning\nSQL\nData Science\nDeep Learning\nDat...
1,Mastersworks,New York City Metropolitan Area,On-site,Full time,Mid-Senior,"VP, Data Science",Identify and execute on predictive models to help internal teams at Masterworks unders...,23,40,28,9,SQL\nArtificial Intelligence (AI)\nJavaScript\nEntrepreneurship\nAgile Methodologies\n...
2,ReviveMed,"Cambridge, MA",Hybrid,Full time,Mid-Senior,Biological Data Science,"Self-motivated, highly disciplined, and passionate about discovering the right therape...",10,55,31,4,SQL\nJavaScript\nMachine Learning\nLeadership\nPython (Programming Language)\nProgramm...
3,IBM,"Baton Rouge, LA",On-site,Full time,Entry,Data Engineer,"2 years + experience with Python, Java, or other object-oriented programming languages...",0,100,0,0,SQL\nGitHub\nLeadership\nOracle Database\nGoogle Cloud Platform (GCP)\nApache Phoenix\...
4,Expedia Group,"Austin, TX",Hybrid,Full time,Entry,"Data Scientist II, Product Analytics",2+ years of work experience doing quantitative analysis to tackle business problems\nS...,13,72,7,8,SQL\nJavaScript\nLeadership\nMicrosoft SQL Server\nCascading Style Sheets (CSS)\nC#\nO...
...,...,...,...,...,...,...,...,...,...,...,...,...
194,Oscar Health,"New York, NY",Hybrid,Full time,Entry,Data Scientist,You have 2+ years of relevant work experience or a Master’s degree in a quantitative f...,23,71,0,6,SQL\nPython (Programming Language)\nMachine Learning\nData Science\nMicrosoft Excel\nR...
195,HD Supply,"Atlanta, GA",On-site,Full time,Entry,Data Scientist,3 to 5 years of experience in applied data science in a retail marketing or operations...,38,44,9,9,SQL\nPython (Programming Language)\nMachine Learning\nTableau\nData Analysis\nMATLAB\n...
196,Optum,"San Antonio, TX",On-site,Full time,Entry,Data Engineer,"BS in Engineering, Computer Science, Data Science or Equivalent\n2+ years of experienc...",50,50,0,0,SQL\nGit\nMicrosoft SQL Server\nLinux System Administration\nData Administration\nData...
197,Grindr,"Chicago, IL",Remote,Full time,Entry,Data Scientist,4+ years of proven experience in an analytics role\nAbility to communicate the results...,23,62,9,6,Python (Programming Language)\nSQL\nMachine Learning\nMicrosoft PowerPoint\nLeadership...
198,1010data,United States,Remote,Full time,Entry,Data Scientist,3-7 years professional experience in data analysis or practical experience building cu...,33,67,0,0,Python (Programming Language)\nMicrosoft Excel\nSQL\nMicrosoft PowerPoint\nMachine Lea...